html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;

  position: relative;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.why_section {
  color: #f9fcfb;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b3374),
    to(#8f4fe8)
  );
  background: linear-gradient(to right, #1b3374, #8f4fe8);
}
.test1 {
  width: 100%;
  height: 100%;
}
.footer {
  background-image: url(./asstes/images/footer-bg.png);
  background-size: cover;
  margin-top: -125px;
}
.service {
  background-image: url("./asstes//images/service-bg.png");
}
.main {
  /* background-image: url("./asstes//images/bghil.png"); */
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  margin-top: -160px;
  margin-left: -30px;
}
.header {
  /* position: relative; */
  background-color: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#864ddf),
    to(#203376)
  );
  background: linear-gradient(to right, #864ddf, #203376);
}
.head {
  /* position: relative; */
  background-color: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#864ddf),
    to(#203376)
  );
  background: linear-gradient(to right, #864ddf, #203376);
}
.nav {
  background-color: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#864ddf),
    to(#203376)
  );
  background: linear-gradient(to right, #864ddf, #203376);
}
.header::before {
  content: "";
  position: absolute;
  width: 58%;
  height: 86%;
  background-image: url(./asstes/images//hero-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 25px;
  right: 0;
}

.login {
  background-color: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#864ddf),
    to(#203376)
  );
  background: linear-gradient(to right, #864ddf, #203376);
}
.login::before {
  content: "";
  position: absolute;
  background-position-x: right;
  background-image: url(./asstes/images//hero-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 25px;
  right: 0;
}

@media (max-width: 804px) {
  .header::before {
    display: none;
  }
}

@media (max-width: 990px) {
  .custom_nav-container .nav_search-btn {
    background-position: center;
  }

  .service_section {
    background-size: cover;
  }

  .slider_section ol.carousel-indicators {
    display: none;
  }

  .slider-img-box img {
    z-index: 1;
    position: relative;
  }

  /* .slider_img-box {
    position: relative;
  } */

  .hero_area {
    height: auto;
  }

  .slider_detail-box {
    margin-top: 35px;
    margin-bottom: 45px;
  }
  /* 
  .slider_img-box {
    margin-bottom: 75px;
  } */

  .slider_section .carousel_btn-container {
    display: none;
  }
}

.service_section {
  text-align: center;
  color: #f9fcfb;
  background-image: url(./asstes/images/service-bg.png);
  background-size: 100% 100%;
  padding-top: 275px;
  padding-bottom: 125px;
  background-repeat: no-repeat;
  margin-top: -150px;
}

.service_section .custom_heading-container h2 {
  border-color: #f9fcfb;
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service_section .service_container .service_box {
  width: 30%;
  min-width: 300px;
  margin: 35px 15px;
}

.service_section .service_container .service_box .img-box {
  border-radius: 18px;
  overflow: hidden;
}

.service_section .service_container .service_box .img-box img {
  width: 100%;
}

.service_section .service_container .service_box .detail-box {
  margin-top: 30px;
}

.service_section .service_container .service_box .detail-box h4 {
  font-weight: bold;
}

.service_section a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section a:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.sub_page .service_section {
  margin-top: 00px;
  margin-bottom: 150px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
